---
import Layout from "../layouts/Layout.astro";
import { Title } from "../components/Title";
import { Overview } from "../components/Overview";
const posts = await Astro.glob("./blog/*.md");
---

<Layout title="About us">
  <main class="m-20">
    <Title />
    <div class="flex md:flex-row flex-col gap-4 md:gap-12">
      <div><Overview posts={posts} /></div>
      <div class="flex flex-col gap-8 sm:max-w-lg w-full mt-12">
        <div class="prose">
          <img
            class="w-96 -z-10"
            src="/images/normal_1280.webp"
            alt="us three girls"
          />
        </div>
        <p class="z-10">
          We are three girls from the Oslo-area, who study Computer Science in
          Trondheim. We are on our third year, and will finish our
          Bachelor-degree after our semester in Athens. We will be documenting
          some of the cool things we experience in our 5 months in Greece!
        </p>
        <img
          class="w-96"
          src="/images/festlig_1280.webp"
          alt="us three girls partying"
        />
        <p class="z-10">
          If you want to learn more about us, you can check out our personal
          websites or instagrams:{" "}
          <a href="https://www.helloklara.com">helloklara.com</a>,{" "}
          <a href="https://www.kennedy.com">kennedy.com</a> and{" "}
          <a href="https://www.instagram.com/taleeikenes">
            instagram.com/taleeikenes
          </a>
        </p>
      </div>
    </div>
  </main>
</Layout>
<img
  class="absolute w-2/5 right-10 z-0 top-5"
  src="/images/sol.png"
  alt="stor solillustrasjon"
/>
<img
  class="absolute w-1/5 left-20 z-0 bottom-10"
  src="/images/sol.png"
  alt="liten solillustrasjon"
/>
